{% extends "layout-archive-responsive.html" %}
{% load has_group is_darchive local_datetime mirror_tags count_archives %}
{% block title %} | {{archive.submitted_title}}{% endblock %}
{% block meta-head %}
<meta name="robots" content="noindex, noarchive, noodp, noimageindex">
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">

    {# put in styles because this has to be available during page load #}
    <script src="{{ STATIC_URL }}js/moment-with-langs.min.js "></script>
{% endblock %}

{% block header %}
<!-- Served up by Perma mirror, {{ request.META.HTTP_HOST }} -->
<header>
    <div class="navbar navbar-default navbar-static-top tab-border">
        <div class="container">

            <div id="full-header">
                <div class="row controls"> <!-- start logo and login/logout | dashboard -->
                    <div class="col-xs-6 logo">
                        <a href="{% url 'landing' %}">perma.cc<img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                    </div><!--end span 3 -->
                    <div class="col-xs-6 nav">
					  	{% if request.user.is_authenticated %}
                            <a href="{% url 'create_link' %}" class="pull-right">Dashboard</a>
						{% endif %}
                    </div><!--end span 6 -->
                </div> <!-- end logo and login/logout | dashboard -->

                <section class="url-row">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="archive-note">Below the orange bar is an archive of</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <p class="big-link">
                                <a href="{{archive.submitted_url}}" target="_blank">{{ archive.submitted_url|truncatechars:95 }}</a>
                            </p>
                        </div>
                    </div>

                   <div class="row">
                        <div class="col-xs-12">
                            <p class="archive-note archive-count-note">
                                We have {{ asset|count_archives }} for this archive
                            </p>
                        </div>
                    </div>

                    <div class="row archive-selection-container">

                        {% if asset.image_capture and asset.image_capture != 'failed' %}
                        <div class="col-xs-12 col-md-6">
                            <div class="archive-btn-container">

                                <div class="row">
                                    <div class="col-xs-7">
                                        <p>A static image of the webpage as it existed when the archive was created</p>
                                    </div>
                                    <div class="col-xs-5">
                                        {% if asset.image_capture == 'pending' %}
                                            <a id="image_cap_container_loading" href="{% url 'single_link_header' archive.guid %}" class="btn btn-sm archive" {% if serve_type == 'image' %}disabled="disabled"{% endif %} role="button"><img src="{{ STATIC_URL }}img/spinner.gif"> Screen capture</a>
                                            <a id="image_cap_container_complete" href="{% url 'single_link_header' archive.guid %}" class="btn btn-sm archive" {% if serve_type == 'image' %}disabled="disabled"{% endif %} role="button">Screen capture</a>
                                        {% else %}
                                            <a href="{% url 'single_link_header' archive.guid %}" class="btn btn-sm archive" {% if serve_type == 'image' %}disabled="disabled"{% endif %} role="button">Screen capture</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if asset.warc_capture and asset.warc_capture != 'failed' %}
                        <div class="col-xs-12 col-md-6">
                            <div class="archive-btn-container">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <p>A recreation using the HTML as it existed when the archive was created</p>
                                    </div>
                                    <div class="col-xs-5">
                                        {% if asset.warc_capture == 'pending' %}
                                            <a id="warc_cap_container_loading" href="{% url 'single_link_header' archive.guid %}?type=source" class="btn btn-sm archive" disabled="disabled" role="button"><img src="{{ STATIC_URL }}img/spinner.gif"> Page capture</a>
                                            <a id="warc_cap_container_complete" href="{% url 'single_link_header' archive.guid %}?type=source" class="btn btn-sm archive" {% if serve_type == 'source' %}disabled="disabled"{% endif %} role="button">Page capture</a>
                                        {% else %}
                                            <a href="{% url 'single_link_header' archive.guid %}?type=source" class="btn btn-sm archive" {% if serve_type == 'source' %}disabled="disabled"{% endif %} role="button">Page capture</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}



                        {% if asset.pdf_capture and asset.pdf_capture != 'failed' %}
                        <div class="col-xs-12 col-md-6">
                            <div class="archive-btn-container">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <p>The PDF document that was captured when the archive was created</p>
                                    </div>
                                    <div class="col-xs-5">
                                        {% if asset.pdf_capture == 'pending' %}
                                            <a id="pdf_cap_container_loading" href="{% url 'single_link_header' archive.guid %}?type=pdf" class="btn btn-sm archive" disabled="disabled" role="button"><img src="{{ STATIC_URL }}img/spinner.gif"> PDF capture</a>
                                            <a id="pdf_cap_container_complete" href="{% url 'single_link_header' archive.guid %}?type=pdf" class="btn btn-sm archive" {% if serve_type == 'pdf' %}disabled="disabled"{% endif %} role="button">PDF capture</a>
                                        {% else %}
                                            <a href="{% url 'single_link_header' archive.guid %}?type=pdf" class="btn btn-sm archive" {% if serve_type == 'pdf' %}disabled="disabled"{% endif %} role="button">PDF capture</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}




                    </div>
<!--
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right button-container">
                                {% if request.user.is_authenticated %}
                                    {% if request.user|has_group:'registry_user,registrar_user,vesting_user' and not archive.vested %}
                                        <form action="{% main_url 'vest_link' archive.guid %}" method="post">
                                        {% csrf_token %}
                                            <p class="float-right"><input type="submit" value="Vest site" name="vest" class="btn vest"></p>
                                        </form>
                                    {% endif %}
                                    {% if request.user|has_group:'registry_user' %}
                                        <p class="float-right"><a class="btn vest" href="{% url 'dark_archive_link' archive.guid %}">Dark archive</a></p>
                                    {% endif %}
                                    {% if request.user == archive.created_by and not archive.vested and not archive.dark_archive %}
                                        <p class="float-right"><a class="btn user-delete" href="{% url 'user_delete_link' archive.guid %}"><i class="icon-trash"></i> Delete</a></p>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
-->
                    <div class="row">
                        <div class="col-xs-7">
                            <p class="archive-note creation-details">
                                created {{ archive.creation_timestamp|local_datetime }} <span class="spacer">·</span>  <!-- if it was vested, print it here --></span> viewed {{ archive.view_count }} time{% if archive.view_count > 1 %}s{% endif %} <span class="spacer">·</span> <a href="{% url 'contact' %}?message=Please have a look at perma.cc{% url 'single_link_header' archive.guid %} " target="_blank">report abuse</a>
                            </p>
                        </div>

                        <div class="col-xs-5 pull-right">
                            <!-- Split button -->
                            <div class="btn-group pull-right admin-buttons">
                              <button type="button" class="btn btn-sm">Vest archive</button>
                              <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                                <li><a href="sdf">Vest archive</a></li>
                                <li><a href="svddsv">Place in the dark archive</a></li>
                                <li><a href="sdds">Delete archive</a></li>
                              </ul>
                            </div>
                        </div>
                    </div>

                </section>
            </div> <!-- /full-header -->

            <div id="compact-header">
                <div class="row"> <!-- start logo and login/logout | dashboard -->
                    <div class="col-xs-1">
                        <a href="{% url 'landing' %}"><img class="infinity-logo" src="{{ STATIC_URL }}img/infinity-logo2.png"></a>
                    </div><!--end span 3 -->
                    <div class="col-xs-10">
                        <p class="url-compact text-center"><a href="{{archive.submitted_url}}" target="_blank">{{ archive.submitted_url|truncatechars:50 }}</a></p>
                    </div><!--end span 9 -->
                    <div class="col-xs-1">
                        <span class="glyphicon glyphicon-chevron-down pull-right expand-button"></span>
                    </div><!--end span 3 -->

                </div> <!-- end logo and login/logout | dashboard -->
            </div>

        </div><!--/container -->
    </div><!--/navbar -->



</header>
{% endblock %}

{% block content %}


<div class="row">
    <div class="overlay" onClick="style.pointerEvents='none'"></div>

    {% if archive.dark_archived and request.user|has_group:'registry_user,registrar_user,vesting_user' %}
    	<div class="col-sm-6 col-sm-offset-3 yahowza-small">
			<div class="darchive">
				<img class="dark-bulb-small" src="{{ STATIC_URL }}img/dark-bulb.png">
				<h2 class="orange">This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</h2>
			</div>
		</div>
	{% elif archive.dark_archived_robots_txt_blocked and request.user|has_group:'registry_user,registrar_user,vesting_user' %}
    	<div class="col-sm-6 col-sm-offset-3 yahowza-small">
    		<img class="dark-bulb-small" src="{{ STATIC_URL }}img/dark-bulb.png">
			<h2>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a.>.</h2>
		</div>
	{% endif %}
    {% if not archive|is_darchive or request.user|has_group:'registry_user,registrar_user,vesting_user' %}
        {% if not archive.user_deleted %}
	<div class="archive-view center">
  		<div class="watermark center">

			{% if not archive.vested %}<div class="negative-margin"><img class="watermark-image" src="{{ STATIC_URL }}img/watermark-text.png"/></div>{% endif %}

			{% if serve_type == 'image'%}
            <iframe src="{% url 'service_image_wrapper' archive.guid %}" sandbox="allow-forms allow-scripts allow-same-origin" id="image_iframe">
                <p>Unable to display the <a href="{{ MEDIA_URL }}{{ asset.image_url }}" target="_blank">archived image</a></p>
            </iframe>
			{% endif %}

			{% if serve_type == 'pdf' %}
			<iframe src="{{ MEDIA_URL }}{{ asset.pdf_url }}">
			  <p>Unable to display the <a href="{{ MEDIA_URL }}{{ asset.pdf_url }}" target="_blank">archived PDF</a></p>
			</iframe>
			{% endif %}

			{% if serve_type == 'source' %}
			<iframe src="{{ warc_url }}" sandbox="allow-forms allow-scripts allow-same-origin" id="warc_iframe">
                <p>Unable to display the <a href="{{ warc_url }}" target="_blank">archived PDF</a></p>
			</iframe>
			{% endif %}
		</div><!--end watermark-->
   	</div><!--end archive-view-->

   	{% elif archive|is_darchive %}
   		<div class="container">
			<div class="row">
				<div class="col-sm-12 yahowza">
					<img class="dark-bulb center" src="{{ STATIC_URL }}img/dark-bulb.png">
					 <h1 class="cyan">Apologies.</h1><h2>This link has been <span class="dark">dark archived</span>.<br/>Contact a librarian to get a copy.</h2>
					<br/>
					{% if archive.dark_archived %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has complied with a takedown notice.</p>
					{% elif archive.dark_archived_robots_txt_blocked %}
						<p>This link is in the <span class="dark">dark archive</span> because Perma.cc has <a href="{% url 'faq' %}#robots-text">respected the content creator's request to not share this archive publicly</a>.</p>
					{% endif %}
				</div>
			</div>
   	    </div>
   	 {% else %}
   	    <div class="container">
			<div class="row">
				<div class="col-sm-12 yahowza">
					 <h1 class="cyan">Apologies.</h1><h2>This unvested link was deleted by the user who created it.</h2>
				</div>
			</div>
   	    </div>
   	{% endif %}
   	{% endif %}
</div><!--row-->
<script>
	var status_url = "{% main_url 'service_link_status' archive.guid %}";
</script>
{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/single-link.js"></script>
{% endblock %}