/* Our Sass vars start */

$primary-font: 'Roboto Slab', sans-serif;
$secondary-font: 'Helvetica', 'sans-serif';

$primary-color: #ff4100; /* orange */
$secondary-color: #09f; /* cyan */

/* Our Sass vars end */


/* Global start */

html {
    position:relative;
    min-height:100%;
    margin:0px;
}

body {
  	background:#f7f7f7;
    color: #333;
    margin: 0;
    font-family: $primary-font;
}

.navbar-default {
	background-image: url('/static/img/white_wave.png');
	border-bottom:1px solid #eee;
}

.tab-border	{
    border-bottom: solid 6px #ff4100;
    padding-bottom: 15px;
}

.container-fluid {
    padding: 0;
}

p {
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-weight:300;
    color: #555;
    font-size: 17px;
}

.logo span {
    display: none;
}

.logo a, .logo {
    min-width:235px;
    text-decoration: none;
    font-family: $primary-font;
    font-size:36px;
    color:#ff4100;
}

#full-header .controls a {
    font-weight: 400;
}

.controls .nav a{
    color: #09f;
    font-size: 20px;
    margin-top: 15px;
}

/* Global end */


/* Compact header start */

#compact-header {
    display: none;
}

header #compact-header .expand-button   {
    font-size: 20px;
    margin-top: 4px;
    cursor: pointer; cursor: hand;
    color: #666;
}

header #compact-header .url-compact   {
    margin-top: 3px;
    font-size: 18px;
}

header #compact-header .infinity-logo   {
    margin-top: 4px;
}

/* Compact header end */

/* Full header start */

header #full-header .controls {
    margin-bottom: 15px;
}

.url-row {
    padding: 10px 20px;
    background-color: #fff;
    -moz-box-shadow:    2px 0px 4px 0px #c6ccd1;
    -webkit-box-shadow: 2px 0px 4px 0px #c6ccd1;
    box-shadow:         0px 0px 4px 0px #c6ccd1;
}

header #full-header p.helper-info  {
    color: #444;
    font-family: $secondary-font;
}

header #full-header p.big-link  {
    word-wrap: break-word;
    font-size: 37px;
    font-family: $primary-font;
    display: inline;
    background: #fff849;
    padding: 0 5px;
}

header #full-header p.creation-details  {
    margin: 15px 0 0 0;
    color: #999;
    font-family: $secondary-font;
    font-size: 15px;
}

header #full-header .spacer {
    margin-left: 4px;
    margin-right: 4px;
}

header #full-header p.archive-note {
    margin-top: 40px;
    margin-bottom: 7px;
    color: #777;
    font-family: $secondary-font;
    font-size: 15px;
}

header #full-header a {
    font-weight: 300;
}

.overlay {
   background:transparent;
   position:relative;
   width:9000px;
   z-index:88888;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

#image_cap_container_complete {
    display: none;
}

#warc_cap_container_complete {
    display: none;
}

#pdf_cap_container_complete {
    display: none;
}
/* Full header end */


/* iframe start */

iframe {
    border-width: 0px 0px;
	border-style: solid;
	border-color: #999;
    text-align:auto;
    background:#fff;
    margin:0px auto;
    padding:auto;
    display:block;
    overflow-x:scroll;
    overflow-y: scroll;
    height:100%;
    width:100%;

}

.negative-margin {
	margin-top:-20px;
}

/* iframe end */


/* Watermark start */

.watermark {
	margin:0 auto;
	position:relative;
	padding:0px;
	text-align:center;

}

img.watermark-image {
	position:relative;
	border:none;
	border-radius:3px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index:2;
    margin:0 auto -20%;
	opacity:.85;
	width:70%;
	pointer-events:none;
}

/* Watermark end */

/* Buttons start */

.button-container p {
    margin: 4px 4px;
}

.archive-btn-container {
    margin-bottom: 20px;
    margin-top: 2px;
    padding-top: 7px;
    border-top: 7px solid #ccc;
}

.archive-btn-container .archive-type-title {

    color: $primary_color;
    font-family: $secondary-font;
    font-size: 21px;
    margin-bottom: 10px;
}

.archive-btn-container a {
    width: 100%;
    font-size: 16px;
    letter-spacing: .8px;
    color: #fff;
    background-color: $secondary-color;
    border: 3px solid $secondary-color;
}

.archive-btn-container a:hover {
    color: red;
}

.archive-btn-container p {
    margin-bottom: 0;
    font-size: 17px;
}

a.btn.archive {
    padding: 4px;
    border-radius: 3px;
    margin-top: 5px;
    letter-spacing: .8px;
}

a.btn.active {
    background-color: #fff;
    color: #555;
    box-shadow: none;
    border: 2px solid #999;
}

a.btn.vest, a.btn.dashboard, a.btn.user-delete, input.btn.vest {
	width:100px;
	padding:2px 0px;
	color:#666;
	font-size:14px;
	border:1px solid #666;
	border-radius: 3px;
	background:#fff;
	margin-left:10px;
	font-weight: 300;
}

input.btn.vest:hover, input.btn.vest:focus, a.btn.vest:hover, a.btn.vest:focus {
	color:#222;
	border:1px solid #22;
}

a.btn.user-delete {
	border:1px solid #ff4100;
  	color:#ff4100;
}

a.btn.user-delete:hover, a.btn.user-delete:focus {
	border:1px solid #dd3800;
  	color:#dd3800;
}

.admin-buttons {
    margin: 0px 0 5px 0;
}

.admin-buttons .btn {
    background-color: #eee;
    border: 1px solid #bbb;
    color: #444;
}

.admin-buttons .caret {
    border-top:4px solid #000;
    margin-top: -1px;
}


/* Buttons end */


/* Dark archive start */

.darchive {
	text-align:center;
	background:rgba(255,255,255, .5);
	position:absolute;
	z-index:100;
	margin-top:20px;
	border-radius: 4px;
		opacity:.8;
	  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
}

img.dark-bulb {
	opacity:.8;
	  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 5-7 */
  filter: alpha(opacity=80);
  margin:auto;
  text-align:center;
  width:160px;
}

/* Dark archive end */